#!/usr/bin/env python3

from dynamic_reconfigure.parameter_generator_catkin import *

PACKAGE = "dv_ros_capture"
gen = ParameterGenerator()

gen.add("global_hold", bool_t, 0, "Enable global hold in readout", True)

gen.add("contrast_threshold_on", int_t, 0,
"Set the contrast threshold for ON polarity event generation", 9, 0, 17)
gen.add("contrast_threshold_off", int_t, 0,
"Set the contrast threshold for OFF polarity event generation", 9, 0, 17)

gen.add("noise_filtering", bool_t, 0, "Enable noise filtering on event stream", False)
gen.add("noise_background_activity_time", int_t, 0,
"Event noise filter background activity time threshold in microseconds", 2000, 1, 10000)

exit(gen.generate(PACKAGE, "capture_node", "DVXplorer"))
